.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.itemul{
  list-style: none;
  display: flex;
}
.itemStyle{
  width:160px;
  height: 180px;
}
.itemStyle img{
  width:140px;
  height: 140px;
  cursor: pointer
}
.wrap{
  display: flex
}
.left{
  width:200px;
  height: 500px;
  border:1px solid #ccc;
  
}
.right{
  width:600px;
  height: 500px;
  border:1px solid blue;
  
}
